{% extends 'blog/base.html' %}

{% block details %}
<!-- Content -->
<div id="content">
    <div class="inner">
        <!-- Post -->
        <article class="box post post-excerpt">
            <header>
                <h2>{{ post.title }}</h2>
            </header>
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="fi-pencil"></span></a> {% endif %}
            <div class="info">

                <ul class="stats">
                    <li><a href="#" class="fi-comment">16</a></li>
                    <li><a href="#" class="fi-heart">32</a></li>
                    <li><a href="#" class="fi-social-twitter">64</a></li>
                    <li><a href="#" class="fi-social-facebook">128</a></li>
                </ul>

            </div>
            {% if post.published_date %}
            <div class="date">
                <strong>{{ post.published_date | date }}</strong>
            </div>
            {% endif %}
            <div class="content-markdown">{{ post.text}}</div>
        </article>
    </div>
</div>

{% endblock %}